#loading {
    animation-duration: 0.75s;
    animation-iteration-count: infinite;
    animation-name: rotate-forever;
    animation-timing-function: linear;
    height: 30px;
    width: 30px;
    border: 8px solid var(--main); /* #339af0 */
    border-right-color: transparent;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 10%;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 940;
}

#loading.hidden {
    display: none;
}

/* #loading:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
} */

@keyframes rotate-forever {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading {
    /* filter: blur(3px); */
}