#header nav ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#header nav li {
    transition: 200ms;
    /*text-shadow: 1px 1px 6px black;*/
    height: calc(100% - 2px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
}

#header nav li:hover {
    color: var(--hover-color);
    background-color: var(--hover-bg-li-color);
    cursor: pointer;
}

#header nav li:last-of-type:hover {
    /*background-color: rgba(255, 0, 0, 0.8);*/
}

#header #menu {
    position: absolute;
    left: 50%;
    right: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header #menu > ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Bouton Play */
#header #menu .button {
    /*background-color: #1c64ea;
    color: white;*/
    background-color: var(--bg-medium-color);
    box-shadow: inset 0px 0px 0px 1px var(--first-border-color);
    border-radius: 0px;
    text-align: center;
    transition: 200ms;
    border: 1px solid #1f1f1f;
    border: 1px solid var(--last-border-color);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 3px 10px;
    height: 30px;
    box-sizing: border-box;
}

/* Icône Play */
#header #menu .button i {
    position: relative;
    font-size: 23px;
}

#header #menu li.button:hover {
    /*background-color: #3c7ffb;*/
    /* border: 1px solid var(--main); */
    /* box-shadow: 0 0 10px 0px var(--main); */
    box-shadow: inset 0px 0px 0px 1px var(--main),  0 0 10px 0px var(--main);
    color: #eee;
    cursor: pointer;
    z-index: 3;
}

/* #header #menu li.button#pause:before {
    transition: 150ms;
    box-shadow: inset 0 0 0 0 var(--main);
} */

#header #menu li.button:active:before, #header #menu li.active:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    box-shadow: inset 0px 0px 0px 1px var(--main), inset 0 0 10px 0px var(--main);
}

#header #menu .button#pause {
    position: relative;
    left: -1px;
    z-index: 2;
}

#header #menu .button#sync {
    position: relative;
    left: -2px;
}