/*.tab-content {
    display: none;
}*/

.overlay {
    height: calc(100% - 40px);
    width: 100%;
    position: relative;
    z-index: 0;
    overflow-x: hidden;
    transition: 0.5s;
    display: none;
}

.overlay-content {
    height: 100%;
    width: 100%;
    display: flex;
    overflow: hidden;
    /*align-content: center;
    justify-content: center;*/
    /* background-color: var(--bg-medium-color); */
}

/* #scripting {
    height: calc(100% - 42px);
}

#scripting form {
    height: 100%;
} */

#blueprint {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: auto;
    /* overflow-x: hidden; */
    scrollbar-width: none;  /* Firefox */
    touch-action: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#blueprint::-webkit-scrollbar {
    display: none;
}

/* Drop Container */
#blueprint:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border: 2px dashed transparent;
    transition: 200ms;
    z-index: 0;
    pointer-events: none;
}

#blueprint.drop_hover:before {
    border: 2px dashed var(--main);
}

#blueprint svg {
    /* position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -100; */
    width: 100%;
    min-height: 4001px;
    min-width: 2001px;
}

#blueprint svg path.connection {
    fill: none;
    stroke-width: 2px;
    stroke: var(--main); /* #8e8e8e; */
}

#toolbox {
    width: 200px;
    border-left: 1px solid var(--last-border-color);
    box-shadow: inset -1px 0px 0 var(--first-border-color), inset 1px 0px 0 var(--first-border-color);
    background-color: var(--bg-medium-color);
    overflow: auto;
    overflow-x: hidden;
}

#toolbox ul {
    width: 100%;
    height: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}

#toolbox ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 200ms;
    color: var(--white-color);
    border: 2px rgba(255, 255, 255, 0.1) solid; /* var(--last-border-color) */
    /* box-shadow: 
        inset 0 -1px 0 var(--first-border-color),
        inset 0 1px 0 var(--first-border-color),
        inset 1px 0 0 var(--first-border-color),
        inset -1px 0 0 var(--first-border-color); */
    width: 30px;
    height: 30px;
    margin: 5px;
}

#toolbox ul li:hover {
    background-color: var(--hover-bg-li-color);
    cursor: grab;
    color: var(--hover-color);
    border: 2px rgba(255, 255, 255, 0.3) solid;
}

#toolbox ul li.event {
    background-color: rgba(134, 40, 40, 0.4);
}

#toolbox ul li.event:hover {
    background-color: rgba(134, 40, 40, 0.7);
}

#toolbox ul li.function {
    background-color: rgba(28, 68, 128, 0.4);
}

#toolbox ul li.function:hover {
    background-color: rgba(28, 68, 128, 0.7);
}

#toolbox ul li.structure {
    background-color: rgba(3, 158, 92, 0.4);
}

#toolbox ul li.structure:hover {
    background-color: rgba(3, 158, 92, 0.7);
}

.node {
    position: absolute;
    min-width: 81px;
    height: 31px;
    margin: auto;
    padding: 3px 7px;
    padding-right: 20px;
    /* margin-top: 20px;
    margin-bottom: 20px; */
    background-color: var(--bg-medium-color);
    /* outline: 1px solid var(--last-border-color);
    border-top: 1px solid var(--first-border-color);
    border-right: 1px solid var(--first-border-color);
    border-left: 1px solid var(--first-border-color);
    border-bottom: 1px solid var(--first-border-color);
    box-shadow: inset 0px -1px 0 var(--first-border-color); */
    /* overflow: hidden; */
    border-radius: 0px;
    border-top: 4px solid #3d3e41;
    border-bottom: 4px solid #3d3e41;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.node:hover {
    cursor: grab;
}

.node:active {
    cursor: grabbing;
}

.node > div.content {
    cursor: text;
    height: 17px;
    min-width: 40px;
    display: inline-block;
    color: var(--hover-color);
    font-family: 'Source Code Pro', monospace;
    font-size: 13px;
    /* word-spacing: 0.05em; */
    white-space: pre-wrap;
}

.node .connector {
    position: absolute;
    cursor: pointer;
    /* border: solid 1px var(--white-color);
    background-color: var(--white-color); */
    border: solid 1px var(--bg-light-color);
    background-color: var(--bg-light-color);
    width: 8px;
    height: 4px;
    /* border-radius: 50%; */
    box-sizing: border-box;
}

.node .connector.input {
    top: -4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: 0;
}

.node .connector.output {
    bottom: -4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 0;
}

.node .connector.error {
    right: 6px;
}

/* .node .connector.error {
    right: -2.5px;
    bottom: 0;
    top: 0;
    margin: auto;
    transform: rotate(-90deg);
    border: solid 1px rgb(120, 0, 0);
    background-color:  rgb(120, 0, 0);
} */

.node .connector.input:before {
    content: '';
    position: absolute;
    width: 12px;
    height: 10px;
    left: -3px;
    top: -5px;
}

.node .connector.output:before {
    content: '';
    position: absolute;
    width: 12px;
    height: 10px;
    left: -3px;
}

.node .connector.connected, .node .connector.filled {
    border: solid 1px transparent;
    background-color: var(--main); /* #aeaeae; */
}

.node .connector.output:hover, .node .connector.input:hover {
    border-color: var(--main);
    background-color: var(--main);
}

.node h3 {
    padding: 10px;
    height: 20px;
    font-size: 1em;
    font-weight: normal;
    color: #DDD;
    border-bottom: 1px solid #1f1f1f;
    border-bottom: 1px solid var(--last-border-color);
    box-shadow: inset 0px -1px 0 #2c2c2c;
    box-shadow: inset 0px -1px 0 var(--first-border-color);
    background-color: #232323;
    background-color: var(--bg-dark-color);
    text-align: center;
}

.node-content:first-of-type {
    height: 80.5px;
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.inputPosition {
    position: relative;
    display: inline-block;
    margin-bottom: 6px;
    margin-top: 20px;
    /* float: left; */
    width: 30%;
}

.inputPosition:last-of-type {
    position: relative;
    top: -19px;
    float: right;
    margin-right: 65px;
}

.inputPosition label {
    margin-left: 10px;
}

.inputPosition input {
    width: 100%;
    border-top: 1px solid #202020;
    border-top: 1px solid var(--input-border-color);
    border-bottom: 1px solid #202020;
    border-bottom: 1px solid var(--input-border-color);
    border-right: 1px solid #202020;
    border-right: 1px solid var(--input-border-color);
    position: relative;
    top: -0.5px;
    left: 0.5px;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0.4;}
    to {opacity: 1;}
}

/*#keys li:hover:not(:first-child) {
    background-color: inherit;
    cursor: inherit;
    color: inherit;
}*/

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    z-index: 2;
}

.title {
    background-color: #232323;
    background-color: var(--bg-dark-color);
    padding: 10px 15px;
    border-bottom: 1px solid #1f1f1f;
    border-bottom: 1px solid var(--last-border-color);
    box-shadow: inset 0 -1px 0 #2c2c2c;
    box-shadow: inset 0 -1px 0 var(--first-border-color);
}

.overlay button {
    color: #b0b0b0;
    color: var(--color);
    box-shadow: none;
    border: none;
    font-family: 'Work Sans', 'Roboto', sans-serif;
    font-size: 1.0em;
    transition: 100ms;
    height: 97%;
}

.overlay button:hover {
    cursor: pointer;
    color: #f1f1f1;
}

button:focus {
    outline: 0;
}

#validate {
    position: absolute;
    width: 25%;
    bottom: 0;    
    border-bottom: none;
    z-index: 2;
    text-align: center;
}

#keyButton {
    background-color: #252525;
    background-color: var(--bg-medium-color);
}

/* #key {
    width: 120px;
    height: 20px;
    text-align: center;
    display: inline-block;
    padding: 10px 0px;
    background-color: #232323;
    background-color: var(--bg-dark-color);
    border: 1px solid #2c2c2c;
    border: 1px solid var(--first-border-color);
    outline: 1px solid #1f1f1f;
    outline: 1px solid var(--last-border-color);
    position: relative;
    top: 25%;
    white-space: nowrap;
    overflow: hidden;
}

.keyPressed:hover {
    cursor: pointer;
} */

.labelName {
    margin-top: 20px;
    margin-bottom: 25px;
}

#blueprint code {
    color: #dcdcaa; /* #9cdcfe; */
    background-color: rgb(30, 30, 30);
    /* font-family: Consolas, 'Courier New', monospace; */
    padding: 1px 3px;
    /* font-size: 14px;
    line-height: 19px; */
    /* white-space: pre; */
}