#world {    
    height: 30%;
    border-left: 1px #1f1f1f solid;
    border-left: 1px var(--last-border-color) solid;
    box-shadow: inset 1px 0 0 #2c2c2c;
    box-shadow: inset 1px 0 0 var(--first-border-color);
    border-bottom: 1px #1f1f1f solid;
    border-bottom: 1px var(--last-border-color) solid;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#world .tab {
    display: block;
}

#world li {
    padding: 4px 2px;
    font-size: 0.9em;
    /* width: 100%; */
    box-sizing: border-box;
    border: 2px solid transparent;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /*transition: 200ms;*/
    /*border-bottom: 1px var(--first-border-color) solid;
    box-shadow: inset 0 -1px 0 var(--last-border-color);*/
}

/* Text */
#world li div:focus {
    text-overflow: initial;
}

#world i {
    position: relative;
    font-size: 1.4em;
    color: #b0b0b0;
    /* padding: inherit; */
    /* top: 7px; */
    /* transition: 300ms; */
    /* transform-origin: 50% 39%; */
}

#world h2 i {
    font-size: 1em;
}

#world i:hover {
    color: #eee;
}

#world li .icon {
    position: absolute;
    left: 10px;
    margin-right: 12px;
    width: 20px;
    font-size: 17px;
    display: flex;
    justify-content: center;
}

#world li .delete {
    position: absolute;
    right: 10px;
}

#world li .visibility {
    position: absolute;
    right: 40px;
}

#world li .lock {
    position: absolute;
    right: 70px;
}

#world .active {
    color: var(--hover-color);
    background-color: var(--hover-bg-li-color);
    /*border-left: 2px solid var(--main);*/
}

#world .active:before {
    content: '';
    position: absolute;
    border-left: 2px solid var(--main);
    left: -2px;
    height: calc(100% + 4px);
}

#world li:hover {
    cursor: pointer/*grab*/;
    color: #eee;
    color: var(--hover-color);
    background-color: #2e2e2e;
    background-color: var(--hover-bg-li-color);
}

#world ul li ul {
    padding-left: 40px;
    padding-top: 0px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

#world ul li ul li {
    border-bottom: inherit;
    box-shadow: inherit;
    color: #b0b0b0;
    color: var(--color);
}

#world ul li ul li:hover {
    color: #eee;
    color: var(--hover-color);
}

#world #filter {
    position: absolute;
    right: 10px;
    transform: translateY(-32px);
    width: 140px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#world #filterInput {
    width: 100%;
}

#world #filter i {
    color: #757575;
    position: absolute;    
    right: 0px;
    z-index: 1;
    font-size: 22px;
}

#world #filter i:hover {
    cursor: pointer;
    color: var(--hover-color);
    color: #bbb;
}

#world .object-view {
    width: 200px;
    /*padding: 4px 8px;
    display: inline-block;*/
    padding: 6px 0px;
    margin-left: 38px;
    cursor: text;
    max-width: calc(100% - 150px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#world-list {
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    height: 100%;
    transition: 300ms;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#world-list:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 1px;
    z-index: 0;
    pointer-events: none;
    border: 2px dashed transparent;
    transition: 300ms;
}

#world .drop_hover:before {
    border: 2px dashed var(--main);
}

#world-list li.hidden {
    color: transparent !important;
    border: 2px dashed var(--main) !important;
    background-color: #272727 !important;
    z-index: 9;
    position: relative;
}

#world-list li.hidden:before, li.hidden i {
    display: none !important;
}

/*#world-list .hidden:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border: 2px dashed #1e6490;
    transition: 300ms;
    z-index: 0;
    pointer-events: none;
}*/